body{
	background-image: url("../image/bg4.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	width: 100%;
	height: 100%;
}
/*INDEX DESIGN*/

#indexHeader{
	width: 100%;
	height: 80px;
	/*background-color: rgba(106, 27, 154,1.0);*/
	background-image: linear-gradient(to right, white, rgba(106, 27, 154,1.0));
}


#logo{
	float: left;
	height: auto;
}

#loginContainer{
	clear: right;
	float: right;
}

#loginContainer input[type="text"], #loginContainer input[type=password]{
	width: 35%;
	padding: 5px;
	border-radius: 5px;
	line-height: 20px;
	margin: 10px auto;
}

textarea{
	margin-top: 10px;
}

#result{
	text-align: center;
	width: 50%;
}

/* Navbar style */

#myHeader{
	background-color: rgba(74, 20, 140,1.0);
	box-shadow: 1px 1px 1px white;
	top: 0px;
	width: 100%;
	height: 45px;
	overflow: hidden;
	z-index: 5;
}

#collapsibleNavbar ul{
	position: relative;
	right: -20px;
}

#collapsibleNavbar .nav-link{
	font-size: 25px;
	color: rgba(220, 221, 225,1.0);
	padding-right: 20px;
}

#collapsibleNavbar .nav-link:hover{
	font-size: 25px;
	color: rgba(245, 246, 250,1.0);
	padding-right: 20px;
}

.navbar-toggler-icon{
	
}

a[class="profilePages"]{
	text-decoration: none;
}

a[class="profilePages"]:hover{
	color: black;
	font-size: 15px;

}


.mainContainer{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 520px;
}

#community{
	background-image: url(../image/community.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 300px;
	height: 300px;
	margin: 10px auto;
}

#signup_container{
	width: 80%;
	margin: 5% auto;
}

#signup_container input[type=text], #signup_container input[type=password] {
	width: 70%;
	padding: 5px;
	border-radius: 5px;
	line-height: 30px;
	margin: 5px auto;
}

#userSidebar{
	position: fixed;
	width: 12%;
	height: auto;
	margin-top: 100px;
	box-shadow: 1px 1px 1px 1px whitesmoke;
}

#brand{
	padding: 5px;
	border-radius: 10px;
	box-shadow: 1px 2px 1px red;
	transition: 2s;
}

#brand:hover{
	background-color: hsla(11, 2%, 21%, 0.5);
	color: white;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px red;
}
input[name=searchUser]{
	height: 30px;
}
button[name=searchBtn]{

}

#logo2{
	padding-left: 40px;
	padding-right: 100px;
}
#searchBar{
	position: fixed;
	border : 2px solid black;
	width: 500px;
	margin-left: 200px;
	height: auto;

}

#followersSideBar{
	position: fixed;
	width: 18%;
	top: 70px;
	right: 0px;
	height: 600px;
	overflow: auto;
	box-shadow: 1px 1px 1px black;
	border-radius: 5px;
}

#followerListText{
	text-align: center;
	font-family: calibri;
	font-size: 20px;
	background-color: hsla(234, 88%, 56%, 1.0);
	color: whitesmoke;
}

#userPostBox{
	width: 40%;
	margin: 5% auto;
	height: auto;
	background-color: white;
	box-shadow: 1px 1px 1px 1px gray;
}

#textPostBox{
	margin: 0px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px black;
	padding: 5px;
}

#userTimelineBox{
	width: 50%;
	margin: 5% auto;
	height: 200px;
	background-color: white;
	box-shadow: 1px 1px 1px 1px gray;
}

.card{
	height: 200px;
	background-color: hsla(120, 3%, 93%, 1.0);
}
.card-body{
	height: auto;
}

#textPost{
	background-color: hsla(120, 1%, 93%, 1.0);
}

.list-group-item{
	box-shadow: 1px 1px 1px gray;
}

#userLoadPost{
	width: 50%;
	margin-top: 2% auto;
	height: auto;

}



li[class="fetchedPost"]{
	list-style: none;
	border: 1px solid red;
	margin: 3% 0%;
}

#followerList{
	margin: 0px;
	padding-left: 0px;
}

li{
	list-style: none;
}

li[class="userfollowerList"]{
	width: 100%;
	height: 30px;
	padding: auto;
	margin-top: 5px;
	background-color: hsla(120, 3%, 93%, 0.5);
	box-shadow: 1px 1px 1px 1px black;
}

a[class="searchfollowerLink"]{
	text-decoration: none;
	color: black;
}

a[class="searchfollowerLink"]:hover{
	text-decoration: none;
	color: green;
}



.lpc{
	box-shadow: 1px 1px 1px 1px gray;
	background-color: white;
}

.post-profile-img{
	position: relative;
	top: 10px;
	width: 8%;
	border-radius: 50px;

}

.page-footer{
	background-color: rgba(106, 27, 154,0.9);
	position: fixed;
	bottom: 0px;
	width: 100%;
}
#aboutBox{
	position: absolute;
	width: 800px;
	margin: 18%; auto;
	height : 500px;
	padding : 1%;
}

#aboutMainBox{
	position: absolute;
	margin: 10% auto;
	left: 300px;
}

#aboutBox form{
	line-height: 40px;
}

.aboutTabContent{
	background-color: rgba(236, 240, 241,0.7);
	height: 400px;
	width: 700px;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	background-color : black;
	color: whitesmoke;
	font-weight : 1000;
	border-bottom: 2px solid black;
}

.nav-tabs .nav-link{
	background-color: whitesmoke;
	color: black;
	font-weight : 500px;
}
#userLoadPost .card{
	height: auto;
}

#userLoadPost .card{
	margin: auto;
	height: auto;
	width: 500px;
	box-shadow: 1px 1px 1px 1px whitesmoke;
}

#userLoadPost .card-header{
	height: 70px;
}

#userLoadPost .card-body{
	overflow: hidden;
	padding: 0px;
	width: 500px;
}

#userLoadPost .card .post-photo-box{
}

#userLoadPost .card .post-photo{
	width: 100%;
	height: 80%;
}

#userLoadPost .post_details{
	text-align: left;
}

#userLoadPost .photo-content{
	padding: 2%;
	margin-bottom: 10px;
	text-align: left
}

#userLoadPost .text-content{
	padding: 2%;
	font-size: 17px;
	margin-bottom: 10px;
	text-align: left
}

.post-user-name{
	font-family: ubuntu;
	font-size: 16px;
}
.post-date{
	position: relative;
	font-family: calibri;
	font-size: 14px;
	left: 40px;
	top: -15px;

}











/*MEDIA QUERY*/

@media (max-width:580px){
	.page-footer{
		bottom: -25px;
	}
}
