body{
	background-image: url("../image/bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
}

#login_container{
	background-color: hsla(0, 100%, 100%, 0.5);
	color: black;
	width: 35%;
	margin-top: 100px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 1px black;
	height: 350px;
}

textarea{
	margin-top: 10px;
}

#myHeader{
	background-color: hsla(104, 9%, 11%, 1.0);
	box-shadow: 1px 1px 1px white;
	top: 0px;
	width: 100%;
	margin-bottom: 2%;
	z-index: 5;
}

.navbar-toggler-icon{
	border: 1px solid white;

}

input[type=text], input[type=password]{
	border:none;
	box-shadow: 1px 1px 1px 1px black;
}

a[class="profilePages"]{
	text-decoration: none;
}

a[class="profilePages"]:hover{
	color: black;
	font-size: 15px;

}

#signup_container{
	background-color: hsla(0, 100%, 100%, 0.5);
	color: black;
	width: 35%;
	height: 580px;
	margin-top: 70px;
	padding-top: 10px;
	border-radius: 5px;
	line-height: 20px;
	box-shadow: 2px 2px 2px 1px black;
}

#userSidebar{
	position: fixed;
	width: 12%;
	height: auto;
	margin-top: 100px;
	box-shadow: 1px 1px 1px 1px whitesmoke;
}

#brand{
	padding: 5px;
	border-radius: 10px;
	box-shadow: 1px 2px 1px red;
	transition: 2s;
}

#brand:hover{
	background-color: hsla(11, 2%, 21%, 0.5);
	color: white;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px red;
}

#searchBar{
	position: fixed;
	border : 2px solid black;
	width: 500px;
	margin-left: 200px;
	height: auto;

}

#followersSideBar{
	position: fixed;
	width: 18%;
	top: 70px;
	right: 0px;
	height: 600px;
	overflow: auto;
	box-shadow: 1px 1px 1px black;
	border-radius: 5px;
}

#followerListText{
	text-align: center;
	font-family: calibri;
	font-size: 20px;
	background-color: hsla(234, 88%, 56%, 1.0);
	color: whitesmoke;
}

#userPostBox{
	width: 50%;
	margin: 5% auto;
	height: auto;
	background-color: white;
	box-shadow: 1px 1px 1px 1px gray;
}

#textPostBox{
	margin: 0px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px 1px black;
	padding: 5px;
}

#userTimelineBox{
	width: 50%;
	margin: 5% auto;
	height: 200px;
	background-color: white;
	box-shadow: 1px 1px 1px 1px gray;
}

.card{
	height: 200px;
	background-color: hsla(120, 3%, 93%, 1.0);
}
.card-body{
	height: auto;
}

#textPost{
	background-color: hsla(120, 1%, 93%, 1.0);
}

.list-group-item{
	box-shadow: 1px 1px 1px gray;
}

#userLoadPost{
	width: 50%;
	margin-top: 2% auto;
	height: auto;

}



li[class="fetchedPost"]{
	list-style: none;
	border: 1px solid red;
	margin: 3% 0%;
}

#followerList{
	margin: 0px;
	padding-left: 0px;
}

li{
	list-style: none;
}

li[class="userfollowerList"]{
	width: 100%;
	height: 30px;
	padding: auto;
	margin-top: 5px;
	background-color: hsla(120, 3%, 93%, 0.5);
	box-shadow: 1px 1px 1px 1px black;
}

a[class="searchfollowerLink"]{
	text-decoration: none;
	color: black;
}

a[class="searchfollowerLink"]:hover{
	text-decoration: none;
	color: green;
}

#footer{
	position:absolute;
	border: 1px solid black;
	width: 100%;
	bottom: 0px;
	height: 30px;
	color: white;
	background-color: black;
	text-align: center;
}

.lpc{
	box-shadow: 1px 1px 1px 1px gray;
	background-color: white;
}

.post-profile-img{
	position: relative;
	top: 10px;
	width: 8%;
	border-radius: 50px;

}

#aboutBox{
	position: absolute;
	width: 800px;
	margin: 18%; auto;
	height : 500px;
	padding : 1%;
}

#aboutMainBox{
	position: absolute;
	margin: 10% auto;
	left: 300px;
}

#aboutBox form{
	line-height: 40px;
}

.aboutTabContent{
	background-color: rgba(236, 240, 241,0.7);
	height: 400px;
	width: 700px;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	background-color : black;
	color: whitesmoke;
	font-weight : 1000;
	border-bottom: 2px solid black;
}

.nav-tabs .nav-link{
	background-color: whitesmoke;
	color: black;
	font-weight : 500px;
}
#userLoadPost .card{
	height: auto;
}

#userLoadPost .card{
	margin: auto;
	height: auto;
	width: 500px;
	box-shadow: 1px 1px 1px 1px whitesmoke;
}

#userLoadPost .card-header{
	height: 70px;
}

#userLoadPost .card-body{
	overflow: hidden;
	padding: 0px;
	width: 500px;
}

#userLoadPost .card .post-photo-box{
}

#userLoadPost .card .post-photo{
	width: 100%;
	height: 80%;
}

#userLoadPost .post_details{
	text-align: left;
}

#userLoadPost .photo-content{
	padding: 2%;
	margin-bottom: 10px;
	text-align: left
}

#userLoadPost .text-content{
	padding: 2%;
	font-size: 17px;
	margin-bottom: 10px;
	text-align: left
}

.post-user-name{
	font-family: ubuntu;
	font-size: 16px;
}
.post-date{
	position: relative;
	font-family: calibri;
	font-size: 14px;
	left: 40px;
	top: -15px;
	

}


